 @include extjs-button-small-ui(
	  $ui: 'blue',
	  $background-color: lighten($blue, 20%),
	  $background-color-over: darken($blue, 10%),
	  $background-color-disabled: lighten($blue, 40%),
	  $border-radius: 4px,
	  $color: #fff,
	  $glyph-color: #fff,
	  $padding: 4px
);

@include extjs-button-medium-ui(
	  $ui: 'blue',
	  $background-color: lighten($blue, 20%),
	  $background-color-over: darken($blue, 10%),
	  $background-color-disabled: lighten($blue, 40%),
	  $border-radius: 5px,
	  $color: #fff,
	  $glyph-color: #fff,
	  $padding: 6px
);

@include extjs-button-large-ui(
	  $ui: 'blue',
	  $background-color: lighten($blue, 20%),
	  $background-color-over: darken($blue, 10%),
	  $border-radius: 6px,
	  $color: #fff,
	  $glyph-color: #fff,
	  $padding: 8px
);

@include extjs-button-toolbar-medium-ui(
	  $ui: 'blue',
	  $background-color: lighten($blue, 20%),
	  $background-color-over: darken($blue, 10%),
	  $background-color-disabled: lighten($blue, 40%),
	  $border-radius: 5px,
	  $color: #fff,
	  $glyph-color: #fff,
	  $padding: 6px
);