<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle.MacAppStore</string>
		<string>139.17</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.29996299743652, 782.9000244140625}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-07-11 09:35:14 +0000</string>
	<key>Creator</key>
	<string>Lee Boonstra</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{30.000001907348633, 568.33307838439941}, {319, 153}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>88761</integer>
			<key>ImageID</key>
			<integer>20</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{205.6868896484375, 305.0249096679687}, {118.62623596191406, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88757</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 Docked Toolbar}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{30.000001907348633, 357.04980278015137}, {470, 187.25837398939731}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>88744</integer>
			<key>ImageID</key>
			<integer>19</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{427, 307.02490043640137}, {74, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88756</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 buttons}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{16.689367492675728, 102}, {74, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88760</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 glyph}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{418.99999829101557, 103}, {74, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88759</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 tools}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.916678426099672, 138.68707405596081}, {23.545381688437484, 23.059696197509766}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.288228</string>
					<key>g</key>
					<string>0.200412</string>
					<key>r</key>
					<string>0.168719</string>
				</dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>18</real>
			</dict>
			<key>ID</key>
			<integer>88749</integer>
			<key>Rotation</key>
			<real>264.07000732421875</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.48436000000000001}</string>
					<string>{-0.5, -0.48436000000000001}</string>
					<string>{0.52285800000000004, -0.54392200000000002}</string>
					<string>{0.49961100000000003, -0.43056299999999997}</string>
					<string>{0.47634500000000002, -0.31717499999999998}</string>
					<string>{0.012291, 0.66317000000000004}</string>
					<string>{-0.0118256, 0.47641899999999998}</string>
					<string>{-0.035922999999999997, 0.28959499999999999}</string>
					<string>{-0.5, -0.48436000000000001}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{41.00494335937492, 272.18746226310725}, {118.62623596191406, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88754</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 .x-toolbar}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{442.99999541641978, 271.99999086969399}, {34.856602496925944, 17.099829688517275}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88758</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49417822459799421, -0.45455676028130654}</string>
					<string>{-0.49417822459799421, -0.45455676028130654}</string>
					<string>{-0.29016423921237955, -0.48640570498545621}</string>
					<string>{-0.19205824624012813, -0.48977969912755803}</string>
					<string>{-0.093946253268305746, -0.49315969325924591}</string>
					<string>{0.11193573198349593, -0.48467370799253473}</string>
					<string>{0.2207527241884728, -0.47298772828162683}</string>
					<string>{0.32952271639681818, -0.46132974852210751}</string>
					<string>{0.44803370790737329, -0.52359764041315771}</string>
					<string>{0.47750270579638254, -0.48986569897824772}</string>
					<string>{0.50696770368567989, -0.45617975746347383}</string>
					<string>{0.50384470390939562, 0.35618883210957009}</string>
					<string>{0.48888970498068396, 0.4285747064338743}</string>
					<string>{0.47394570605118691, 0.50088358089186258}</string>
					<string>{0.29781171866841039, 0.40014875578674847}</string>
					<string>{0.20421672537301738, 0.4285747064338743}</string>
					<string>{0.11061873207783712, 0.45696465714349799}</string>
					<string>{-0.10551525243956927, 0.48923960110803222}</string>
					<string>{-0.19205724624019993, 0.48410261002683086}</string>
					<string>{-0.27859224004133143, 0.47889961906021838}</string>
					<string>{-0.46176122692016097, 0.53447352257331104}</string>
					<string>{-0.48658522514191294, 0.46388464512907746}</string>
					<string>{-0.5114082233637367, 0.39326976772998634}</string>
					<string>{-0.49417822459799421, -0.45455676028130654}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.961957</string>
						<key>g</key>
						<string>0.961957</string>
						<key>r</key>
						<string>0.961957</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>4</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;\red69\green69\blue69;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading-100\pardirnatural\qc

\f0\fs16 \cf2 \expnd0\expndtw0\kerning0
Buton}</string>
				<key>VerticalPad</key>
				<integer>4</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>17</real>
			</dict>
			<key>ID</key>
			<integer>88755</integer>
			<key>Points</key>
			<array>
				<string>{28.000002166748004, 265.04699999999968}</string>
				<string>{50.117534832763923, 264.7429999999996}</string>
				<string>{81.935874382138877, 265.34999999999968}</string>
				<string>{111.42719722034018, 264.7429999999996}</string>
				<string>{148.321733751539, 264.4399999999996}</string>
				<string>{182.8815778704826, 265.34999999999968}</string>
				<string>{231.45597288052485, 264.7429999999996}</string>
				<string>{494.87500469379086, 263.27599999999961}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{443, 143.4500140380859}, {13.1943, 13.533799999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>88753</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999700000000002, 0.029518099999999999}</string>
					<string>{-0.49999700000000002, 0.029518099999999999}</string>
					<string>{-0.50508699999999995, -0.49997200000000003}</string>
					<string>{-0.017769799999999999, -0.5}</string>
					<string>{0.373085, -0.49996800000000002}</string>
					<string>{0.47462199999999999, -0.35158299999999998}</string>
					<string>{0.5, -0.024910000000000002}</string>
					<string>{0.49997799999999998, 0.331376}</string>
					<string>{0.34262999999999999, 0.50461400000000001}</string>
					<string>{-0.0126944, 0.499666}</string>
					<string>{-0.37818099999999999, 0.51451400000000003}</string>
					<string>{-0.50001200000000001, 0.029505699999999999}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{466, 143.4500140380859}, {13.1943, 13.533799999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>88752</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999700000000002, 0.029518099999999999}</string>
					<string>{-0.49999700000000002, 0.029518099999999999}</string>
					<string>{-0.50508699999999995, -0.49997200000000003}</string>
					<string>{-0.017769799999999999, -0.5}</string>
					<string>{0.373085, -0.49996800000000002}</string>
					<string>{0.47462199999999999, -0.35158299999999998}</string>
					<string>{0.5, -0.024910000000000002}</string>
					<string>{0.49997799999999998, 0.331376}</string>
					<string>{0.34262999999999999, 0.50461400000000001}</string>
					<string>{-0.0126944, 0.499666}</string>
					<string>{-0.37818099999999999, 0.51451400000000003}</string>
					<string>{-0.50001200000000001, 0.029505699999999999}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{69, 142.45001953124995}, {118.62623596191406, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>88750</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs34 \cf0 .x-panel-header}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>17</real>
			</dict>
			<key>ID</key>
			<integer>88751</integer>
			<key>Points</key>
			<array>
				<string>{30.000002166748004, 179.40899999999988}</string>
				<string>{52.117534832763923, 179.10499999999979}</string>
				<string>{83.935874382138877, 179.71199999999988}</string>
				<string>{113.42719722034018, 179.10499999999979}</string>
				<string>{150.321733751539, 178.80199999999979}</string>
				<string>{184.8815778704826, 179.71199999999988}</string>
				<string>{233.45597288052485, 179.10499999999979}</string>
				<string>{496.87500469379086, 177.63799999999981}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28, 126.99999999999977}, {470, 173}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.288228</string>
					<key>g</key>
					<string>0.200412</string>
					<key>r</key>
					<string>0.168719</string>
				</dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>15</real>
			</dict>
			<key>ID</key>
			<integer>88746</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.490369, -0.48788799999999999}</string>
					<string>{-0.490369, -0.48788799999999999}</string>
					<string>{-0.43063499999999999, -0.49850499999999998}</string>
					<string>{-0.23280999999999999, -0.49848700000000001}</string>
					<string>{-0.0349777, -0.49848300000000001}</string>
					<string>{0.106749, -0.49999700000000002}</string>
					<string>{0.26653700000000002, -0.5}</string>
					<string>{0.42636499999999999, -0.50002100000000005}</string>
					<string>{0.439994, -0.496973}</string>
					<string>{0.47941899999999998, -0.49848599999999998}</string>
					<string>{0.51883800000000002, -0.50000199999999995}</string>
					<string>{0.49019800000000002, 0.442907}</string>
					<string>{0.48640699999999998, 0.47810599999999998}</string>
					<string>{0.48261700000000002, 0.51330900000000002}</string>
					<string>{0.22705, 0.49173299999999998}</string>
					<string>{0.18154200000000001, 0.49173299999999998}</string>
					<string>{0.13603100000000001, 0.49173299999999998}</string>
					<string>{-0.0597812, 0.49205399999999999}</string>
					<string>{-0.181143, 0.49778899999999998}</string>
					<string>{-0.302512, 0.50353099999999995}</string>
					<string>{-0.41242099999999998, 0.49627500000000002}</string>
					<string>{-0.49652099999999999, 0.49627500000000002}</string>
					<string>{-0.50703399999999998, 0.44328200000000001}</string>
					<string>{-0.490369, -0.48788700000000002}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 MarkerFelt-Thin;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs34 \cf0 .x-panel-body}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>21</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image20.tiff</string>
		<string>image19.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-07-11 14:43:24 +0000</string>
	<key>Modifier</key>
	<string>Lee Boonstra</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.29996299743652, 841.9000244140625}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrinter</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAlOU1ByaW50ZXIAhIQITlNPYmplY3QAhZKEhIQITlNTdHJpbmcBlIQBKxdNUDM2MF9TZXJpZXNfKFByaW50RmFiKYaG</string>
		</array>
		<key>NSPrinterName</key>
		<array>
			<string>string</string>
			<string>MP360_Series_(PrintFab)</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{769, 550}, {694, 818}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 67}, {559, 679}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>0.5</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
