$base-color: #f2f2f2;
$panel-header-background-color : #528cf1;
$include-opera: false;
$include-ie: false;
$include-not-found-images: false;

/*$include-shadow-images: false;
$include-default-uis: false;*/
