//base required vars
$font-size: 13px;
$font-family: 'Anudraw', arial, verdana, sans-serif;
$menu-component-margin: 10px;

$include-default-uis: false;

//custom vars
$neutral-color: #fff;
$base-color: #ddd;
$neutral-light-color: #efefef;
$base-light-color: #efefef;
$base-highlight-color: #999;
$color: #000;

$tool-size: 10px;
$resizer-handle-size: 10px;
$resizer-handle-border-radius: 5px;
$form-field-invalid-border-color: red;
$form-checkboxgroup-alt-background: #ddd;
$form-checkboxgroup-alt-border-top: #000;
$form-checkboxgroup-alt-border-bottom: #000;