//functionality styles
.x-fieldset-collapsed .x-fieldset-body {
	display: none;
}

.x-form-date-trigger {
	height: 20px;
	width: 20px;
	background: red;
}

.x-form-cb {
	width: 20px;
}

.x-form-date-trigger {
	height: 20px;
	width: 20px;
	background: #ddd;
}