/* my variables */
$red: #d14836;
$gray: #f5f5f5;
$yellow: #ffff00;
$white: #fff;
$blue: #15c;

/* default styles */
$base-color: $gray !default;
$neutral-color: $gray;
$color: darken($gray, 60%);

$font-family: Arial, sans-serif;
$font-size: 13px;

$include-opera: true !default;
$include-ie: true !default;
