@font-face {
    font-family: 'DroidSansRegular';
    src: url('../resources/fonts/DroidSans-webfont.eot');
    src: url('../resources/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/DroidSans-webfont.woff') format('woff'),
         url('../resources/fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../resources/fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../resources/fonts/DroidSans-Bold-webfont.eot');
    src: url('../resources/fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../resources/fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../resources/fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* main feeds */
.main {
	font-family: 'DroidSansRegular';
	line-height: 1.6em;

	h1 {
		color: $blue;
		font-family: Arial, sans-serif;
		font-size: 20px;
		line-height: 24px;
	}
	
	a {
		color: $blue;
	}

	bold {
		font-family: 'DroidSansBold'	
	}
}