/* buttons */
$button-toolbar-background-color: $gray;
$button-toolbar-border-color: darken($gray, 10%);
$button-toolbar-background-gradient: 'none';

$button-small-padding: 8px;
$button-default-background-gradient: 'none';
$button-default-background-color: $red;
$button-default-background-color-disabled: lighten($red, 10%);
$button-default-background-color-over: darken($red, 10%);
$button-default-background-color-pressed: darken($red, 10%);
$button-default-background-color-focus: darken($red, 10%);